<div class="jumbotron">
  <h1>Qui sommes-nous</h1>
  <p>
    Ce site est né sur une idée originale du grand Vorapsak.
  </p>

  <p>
    La mise en oeuvre est elle à mettre au compte Mesta.
  </p>

</div>
