<br/>
<div class="container">
    <div class="jumbotron">
      <h1>Bonjour à tous</h1>
      <p>
        Bienvenue à vous, fan de l'adaptation en ligne des <a href="http://www.loups-garous-en-ligne.com"><i>Loups-Garous de Thiercelieux</i></a>. Vous pouvez, ici,
        élire les meilleurs parmis vous selon plusieurs catégories plus ou moins sérieuses.
      </p>

      <p><a class="btn btn-primary btn-lg" href="/versus" role="button">Commencer !</a></p>

      <p>
        Ce site sort tout juste de l'oeuf, et semble en chantier par certain aspects. Ainsi, si vous souhaitez contribuer,
        nous recherchons quelques compétences en design (On ne dirait pas comme ça hein...) et intégration web.<br/>
        Vous pouvez envoyer vos proposition à <a href="mailto:contact@mesta.fr">contact at mesta.fr</a>, ou encore sur le
        <a href="http://forum.loups-garous-en-ligne.com/">forum de LGEL</a>, via mp à Vorapsak ou en postant vos idées sur le
        <a href="http://forum.loups-garous-en-ligne.com/viewtopic.php?f=39&t=7931">topic suivant.</a>
      </p>
      <br/>
      <p>
        Bon jeu à tous <^_^>
      </p>
    </div>
</div>