<%= pageTitle "Accueil", "Bienvenue sur ce fabuleux site !" %>

<p>
  Bonjour à tous !

  Comme vous pourrez le constater, ce site n'est pas tout à fait terminé, mais on avance petit bout par petit bout :-)
D'ailleurs ! S'il vous prenait l'envie de contribuer, nous recherchons quelques compétences en design
  (On ne dirait pas comme ça hein...) et intégration web.
Envoyez-moi vos proposition à <a href="mailto:contact@mesta.fr">contact at mesta.fr</a>.

<br/>
  Bon jeu à tous <^_^>
</p>