<footer class="footer" style="padding: 10px 0px;">
  <div class="container">
    <div class="footer-content" style="text-align:center;">
      <ul class="footer-links list-inline">
        <li><%= link_to "A propos", about_path %></li>
        <li>|</li>
        <li>Contact</li>
      </ul>
      <div class="copyright-section text-muted">
        <small><em>LGELMash © 2015, Tous droits réservés</em></small>
      </div>
    </div>
  </div>
</footer>